a{
    text-decoration: none;
}
.home-page{
    padding: 2rem;
    padding-top: 100px;
    color: var(--lighttext);
}
.mainCover{
    background-color: var(--extra-clr-light);
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 800px;
    width: 100%;
    border-radius: 3px;
}
.card-contain{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.home-card{
    margin-top: 350px;
    border: 1px solid var(--medium-text-clr-light);
    width: 550px;
    position: relative;
    border-radius: 5px;
    padding:1rem;
    padding-top: 80px;
    padding-bottom: 30px;
}
.home-card.light{
    border: 1px solid var(--darktext);
}
.home-card.light .card-img{
    border:10px solid var(--darkPanel);
}
.card-img{
    min-width: 300px;
    max-width: 400px;
    height: 300px;
    position: absolute;
    top: -250px;
    left: 50%;
    transform: translateX(-50%);
    border:10px solid var(--darktext);
    background-color: var(--lighttext);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
}
.card-link{
    padding: 0.8rem; 
    outline: none;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    background: linear-gradient(45deg, var(--darkPanel), var(--bg-clr-light) );
    transition: all 0.3s ease-in-out;
    font-weight: 700;
    display: flex;
    margin: auto;
    margin-top: 0.8rem;
    border: 1px solid var(--medium-text-clr-light);
    color: var(--lighttext);
}
.card-link span:first-child {
    margin-left: 5%;
}
.card-link span:last-child {
    margin-left: 15px;
    transition: margin-left 0.5s ease;
}
.card-link:hover span:last-child {
    margin-left: 25px;
}