footer{
    /* border-top: 1px solid var(--border-grey); */
    color: var(--lighttext);
    padding: 1rem 8rem;
    text-align: center;
    font-size: 0.8rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    position: relative;
}

footer .footer-links{
    font-size: 2rem;
    display: inline-flex;
    align-items: center;
    margin: 10px auto;
    gap: 10px;
}

footer .footer-links a{
    text-decoration: none;
    color: var(--lighttext);
}

footer .footer-links a:hover{
    color: var(--lighttext);
}

footer .footer-data{
    font-weight: 200;
    font-size: 0.9rem;
    color: var(--lighttext);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-bottom: 2rem;
}

footer .footer-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0px;
    gap:4rem;
}

footer .footer-top .footer-left form{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    margin-top: 1rem;
}

footer .footer-top .footer-left form input[type="text"],footer .footer-top .footer-left form input[type="email"]{
    padding: 0.8rem; 
    padding-left: 1rem;
    outline: none;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    color: var(--lighttext);
    background: transparent;
    border: 1px solid var(--medium-text-clr-light);
}
footer .footer-top .footer-left form input[type="text"]::placeholder,footer .footer-top .footer-left form input[type="email"]::placeholder{
    color: var(--lighttext);
}
footer .footer-top .footer-left form input[type="text"]:focus,footer .footer-top .footer-left form input[type="email"]:focus{
    border: 1px solid var(--darkerLight);
}

footer .footer-top .footer-left form button{
    padding: 0.8rem; 
    outline: none;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    background: linear-gradient(45deg, var(--darkPanel), var(--bg-clr-light) );
    transition: all 0.3s ease-in-out;
    font-weight: 700;
    width: 100px;
    display: flex;
    margin: auto;
    margin-top: 0.8rem;
    border: 1px solid var(--medium-text-clr-light);
    color: var(--lighttext);
}

footer .footer-top .footer-left form button span:first-child {
    margin-left: 5%;
}
footer .footer-top .footer-left form button span:last-child {
    margin-left: 15%;
    transition: margin-left 0.5s ease;
}

footer .footer-top .footer-left form button:hover span:last-child {
    margin-left: 25%;
}

footer .footer-top .footer-left h3{
    font-weight: 400;
    font-size: 1.5rem;
}

footer .footer-top .footer-right{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: left;
    gap: 2rem;
    width: 100%;
    max-width: 500px;
}
/* footer .footer-top a,li{
    text-decoration: none;
    color: var(--darkerLight);
}
footer .footer-top .footer-right a:hover{
    color: var(--lighttext);
} */



footer .footer-top .footer-right a {
    color: var(--darkerLight);
    display: inline-block;
    position: relative;
    text-decoration: none;
  }
  
  footer .footer-top .footer-right a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
  }
  
  footer .footer-top .footer-right a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  


.footer-right-bottom{
    display: flex;
    flex-direction: row;
    gap: 10%;
    font-size: 15px;
    justify-content: space-around;
    width: 100%;
    max-width: 500px;
}
.footer-right-img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 500px;
    width: 100%;
    height: 300px;
    background-color: var(--extra-clr-light);
    border-radius: 5px;
}
@media screen and (max-width: 768px){
    footer{
    padding: 1rem 10%;
    }
    footer .footer-top{
        flex-direction: column-reverse;
    }
    footer .footer-top .footer-right{
        margin-bottom: 3rem;
        width: 100%;
        justify-content: space-around;
    }
    footer .footer-top .footer-right{
        gap: 2rem;
    }
}