
/* Leftmost selection Bar */
.select__bar{
 background-color: var(--darkPanel);
 min-height: 80vh;
 display: flex;
 min-width: 80px;
 width: 80px;
 align-items: center;
 flex-direction: column;
 justify-content: center;
 gap:1rem;
 margin-top: 70px;
}

/* Main Component */

.main__container{
    width: 100%;
    display: flex;
    transition: 0.2s ease;
}
.main__container_light-mode{
    background-color:#a5aaa99f;
}

.right__container, .left__container{

    flex-basis: 50%;
    border: 0.3px solid rgba(167, 167, 167, 0.39);
    max-height: 85vh;
}

.content__area{
    display: flex;
    margin-top: 6rem;
    margin-left: 0.625rem;
    margin-right:  0.625rem;
    width: 100%;
    height: auto;
}

/* Left container */

.header__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0.625rem;
    background-color: var(--darkPanel);
    color: var(--lighttext);
}

.btn{
    border: none;
    padding: 0.5rem 1rem;
    font-size: 12px;
    cursor: pointer;
    margin-left: 0.25px;
    background-color:  var(--darkPanel);
}

.code__body{
    color: white;
    margin: 1rem 0.625rem;
    min-height: 70vh;
    max-height: 60%;
    background-color: var(--lighterDark);
    transition: 0.2s ease;
}

.code__body_light-mode{
    background-color: var(--darkerLight);
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1.875rem auto;
}

textarea,.input__block{
    padding: 0.625rem;
    font-size: 18px;
    background-color: var(--lighterDark);
    resize:none;
    color: white;
    width: 94%;
    min-height: 40vh;
    max-height: 40vh;
    outline: none;
    transition: 0.2s ease;
}
.code__block_light-mode{
    background-color: var(--darkerLight);
    color: var(--darktext);
}

.input__block{
    min-height: 10vh;
    max-height: 10vh;
    margin-top: 1rem;
    background-color: rgba(10, 5, 5, 0.397);
    color: rgb(11, 165, 11);
    transition: 0.2s ease;
}

.input__block_light-mode {
    background-color: rgba(99, 102, 104, 0.281) ;
    color: var(--darktext);
}

.logger__head_left{
    display: flex;
    padding: 0.625rem;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
    background-color: var(--darkPanel);
}

.logger__heading{
    padding: 0.5rem;
}

/* Right Container */

.output__logger{
    border-radius: 3px;
    margin:1.25rem;
    background-color: var(--lighterDark);
    color: var(--lighttext);
    min-height: 50vh;
    position: relative;
}

.logger__head_right{
    position: relative;
    overflow-x: auto;
    border-radius: 3px;
    margin:1.25rem;
    background-color: var(--lighterDark);
    min-height: 50vh;
    max-height: 50vh;
    margin-top:1.5rem;
    transition: 0.2s ease;
   
}
.logger__head_right_light-mode{
    background-color: var(--darkerLight);
}

.output{
    color: var(--lighttext);
    font-size: 18px;
    padding: 0.563rem;
    transition: all 0.2s ease;
}
.output_light-mode{
    color: var(--darktext);
}

.loader{
    position: absolute;
    top: 40%;
    left: 40%;
}



/* Media Queries */

@media screen and (max-width: 600px) {
    body{
        overflow-x: hidden;
    }
    .main__container{
        display: flex;
        flex-direction: column;
    }
    .select__bar{
        background-color:var(--darkPanel);
        justify-content: center;
        flex-direction: row;
        min-width: 100%;
        min-height: 0.8rem;
        padding: 3rem;
        margin: 0px;
        margin-top: 2.2rem;
    }

    .select__bar > img {
         width: 30px;
         margin-right: 2rem;
    }

    .content__area{
        display: flex;
        min-width: 80%;
        margin: 0px;
        margin-top: 1rem;
        flex-direction: column;
    }

    .left__container,.right__container{
       min-width:85vw ;
       margin: 0.3rem ;
       margin-bottom: 1rem;
    
    }
    .logger__head_right{
      margin: 1rem;
    }
    .logger__heading{
        font-size: 1rem;
    }
    .loader{
      position: absolute;
      left: 35%;
      top:  30%;
    }
}


svg {
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .active svg {
    transform: rotate(90deg);
  }
  path {
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  path:nth-child(1) {
    transform-origin: 36% 40%;
  }
  path:nth-child(2) {
    stroke-dasharray: 29 299;
  }
  path:nth-child(3) {
    transform-origin: 35% 63%;
  }
  path:nth-child(4) {
    stroke-dasharray: 29 299;
  }
  path:nth-child(5) {
    transform-origin: 61% 52%;
  }
  path:nth-child(6) {
    transform-origin: 62% 52%;
  }
  .active path:nth-child(1) {
    transform: translateX(9px) translateY(1px) rotate(45deg);
  }
  .active path:nth-child(2) {
    stroke-dasharray: 225 299;
    stroke-dashoffset: -72px;
  }
  .active path:nth-child(3) {
    transform: translateX(9px) translateY(1px) rotate(-45deg);
  }
  .active path:nth-child(4) {
    stroke-dasharray: 225 299;
    stroke-dashoffset: -72px;
  }
  .active path:nth-child(5) {
    transform: translateX(9px) translateY(1px) rotate(-45deg);
  }
  .active path:nth-child(6) {
    transform: translateX(9px) translateY(1px) rotate(45deg);
  }
  .toggle-btn{
      z-index: 2;
      border: none;
      background: none;
  }