/* Root Styles */
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  transition: all 0.4 ease;
}
html{
  font-size: 16px;
}
:root{
  --bg-clr-dark: rgb(2, 2, 24);
  --bg-clr-medium: rgb(46, 46, 138);
  --bg-clr-light: rgb(107, 107, 253);
  --text-clr-light: rgb(221, 221, 221);
  --text-clr-dark: rgb(2, 2, 24);
  --medium-text-clr-light: hsl(260, 5%, 55%);
  --extra-clr-light: rgba(128, 128, 128, 0.493);
  --shadow : rgba(128, 128, 128, 0.193);

  --darkPanel : blueviolet ;
  --lighttext : white;
  --darktext :  #222225;
  --lighterDark : #383838;
  --darkerLight : #e4e4e4;
  --border-grey : #797979bd;
}